body {
    margin: 0;
    background-image: url(../img/hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Poppins', sans-serif;
 }

 /* <=========================Barra de navegación==============> */
 .box-1 {
   background-color: rgba(0, 0, 0, 0.472);
 }

 .box-0 a {
   transition-duration: 1000ms;
   
}

.box-0 a:hover{
   background-color:  rgba(1, 1, 213, 0.686);
   transform: scale(0.9);
}

/* <==================Botón Reserva ================>*/
 .btn1 {
   padding: 3px 20px 3px 20px;
   border: 1px solid orange;
   background: rgb(0, 0, 0, 0.6);
   border-radius: 25px;
 }
 
 .btn1:hover {
    background-color: rgba(1, 1, 213, 0.686);
    transform: scale(0.9);
    transition-duration: 1000ms;
 }
 /* <==================Background input ================>*/
 .bord {
   background-color: rgba(255, 166, 0, 0.406);
 }
 
 
