body {
    margin: 0;
    background-image: url(../img/hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 /* <====================== Barra de navegación =================> */
 .box-1 {
   background-color: rgba(0, 0, 0, 0.472);
 }
 
 .box-0 a {
    transition-duration: 1000ms;
 }
 
 .box-0 a:hover{
    background-color:  rgba(1, 1, 213, 0.686);
    transform: scale(0.9);
 }

