body {
    margin: 0;
    background-image: url(../img/hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 /* <====================== Barra de navegación =================> */
 .box-1 {
   background-color: rgba(0, 0, 0, 0.472);
 }
 
 .box-0 a {
    transition-duration: 1000ms;
 }
 
 .box-0 a:hover{
    background-color:  rgba(1, 1, 213, 0.686);
    transform: scale(0.9);
 }

 /* <========================= Card Menu===========================> */

 .card-image {
   height: 30vh;
   background-position: center;
   background-size: cover;
}

.bgco {
   background-color: rgba(255, 166, 0, 0.183);
}

#Slid1{
   background-image: url(../img/Slid-1.png);
}

#Slid2{
   background-image: url(../img/Slid-2.jpg);
}

#Slid3{
   background-image: url(../img/Slid-3.png);
}

#Slid4{
   background-image: url(../img/Slid-4.jpg);
}

#Slid5{
   background-image: url(../img/Slid-5.png);
}

#Slid6{
   background-image: url(../img/Slid-6.jpg);
}

/* <=============================Cards Drinks==========================> */

#Slid7{
   background-image: url(../img/bebida1.jpg);
}

#Slid8{
   background-image: url(../img/bebidas2.jpg);
}

#Slid9{
   background-image: url(../img/bebida3.png);
}

